In [26]:
import numpy as np
import pandas as pd

daejeon = pd.read_csv('Daejeon_dataset.csv',delimiter='\t')
daejeon_all = pd.DataFrame(daejeon, columns=[['Restaurant ID', 'Restaurant Address']]).drop_duplicates()

restaurants = pd.DataFrame(daejeon_all)
restaurants.head()

     Restaurant ID Restaurant Address
0           188235    대전시 서구 둔산동 1081
58          193024     대전시 중구 은행동 153
85          225334  대전시 유성구 봉명동 676-3
114         247510   대전시 유성구 궁동 424-3
120          16912   대전시 중구 은행동 145-1

In [28]:
member = daejeon['Member ID'].value_counts()
member

47875     234
553856    115
71218      72
577319     69
478541     69
507356     52
708415     52
55110      51
480690     50
146244     50
494834     45
161108     44
641116     42
646748     41
48495      41
530546     34
722980     33
694114     31
648211     29
19740      29
54607      27
199425     26
593070     26
49511      25
533317     24
23618      23
202502     22
512704     22
136675     20
456341     20
         ...
622799      1
356707      1
567654      1
81346       1
494022      1
225813      1
102927      1
598541      1
16907       1
573945      1
746601      1
725485      1
139755      1
391652      1
18904       1
90579       1
18884       1
51564       1
31168       1
584126      1
76220       1
27066       1
6584        1
14754       1
4511        1
29081       1
731114      1
487817      1
20865       1
309249      1
Name: Member ID, Length: 1171, dtype: int64

In [30]:
import os
path = "recommend"

result = pd.DataFrame()

for filename in os.listdir(path):
    filename = path + '/' + filename
    tmpDF = pd.read_csv(filename)
    result = pd.concat([result, tmpDF])
result = result.join(restaurants.set_index('Restaurant ID'), on='Restaurant ID')
result.to_csv('recommend_total.csv')